#container {
  position: absolute;
 left: 0;
 right: 0;
 margin-top: 3rem;
}

.result {
  margin: 2rem;
}
.properties{
margin-top: 1rem;

ion-item-sliding {
  margin: 0.5rem;
  padding: 1rem;
  width: 98%;
  border: 1px solid gray;
  border-radius: 1rem;

  ion-item {
    width: 100%;

    ion-thumbnail  {
      height: 90%;
    }
  }

}

}
